<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title size="large">
      Data User
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item style="margin-bottom: 10px;">
    <ion-label position="stacked">Alias/CVU</ion-label>
    <ion-input type="text" [(ngModel)]="newAliasCvu"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="addAlias()">Agregar Alias/CVU</ion-button>

  <ion-item>
    <ion-label>{{ storageAlias }}</ion-label>
    <ion-button slot="end" (click)="editAlias()">Editar</ion-button>
  </ion-item>
</ion-content>
