  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ stringFolderHTML.header }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <div class="container">
      <ion-note style="font-size: larger;" *ngIf="showNote">
        <ion-button class="btnX" *ngIf="showNote" (click)="toggleNoteVisibility()" expand="block">X</ion-button>
        {{ stringFolderHTML.descriptionApp }}
      </ion-note>
    </div>
  </ion-content>
