<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title size="large">Registry</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-accordion-group *ngFor="let client of clients" value="general">
    <ion-accordion>
      <ion-item slot="header">
        <div style="padding: .5rem;">
          <ion-label>{{ client.name }}</ion-label>
          <ion-label>{{ client.carPlate }}</ion-label>
        </div>
      </ion-item>
      <div style="display: flex; flex-direction: column; margin: 1rem;" slot="content">
        <ion-label>Phone: {{ client.phone }}</ion-label>
        <ion-label>Vehiculo: {{ client.carPlate }}</ion-label>
        <ion-label>Fecha: {{ client.creationDate }}</ion-label>
        <!-- service -->
        <!-- Lista de servicios de lavado -->
        <ion-item style="margin-top: 1rem;" *ngFor="let servicio of client.servicioLavado">
          <ion-label>{{ servicio.name }}</ion-label>
          <ion-label>Precio: {{ servicio.price | currency:'USD':'symbol':'1.2-2' }}</ion-label>
        </ion-item>
        <p style=" text-align: center;">Total de Servicios: {{ getTotal(client.servicioLavado) | currency:'USD':'symbol':'1.2-2'}}</p>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
