<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title size="large">
     Price
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list style="margin-top: .5rem;"  lines="full">
    <ion-item>
      <ion-label position="stacked">Servicio</ion-label>
      <ion-input type="text" [(ngModel)]="newService"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Precio</ion-label>
      <ion-input type="number" [(ngModel)]="newPrice"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="addService()">Agregar Servicio</ion-button>
  </ion-list>

  <ion-list style="margin-top: 1rem;" *ngIf="services.length > 0">
    <ion-list-header  style="font-size: large;">
      Servicios Guardados
    </ion-list-header>
    <ion-item *ngFor="let service of services; let i = index">
      <ion-label>{{ service.name }}</ion-label>
      <ion-label slot="end">{{ service.price | currency }}</ion-label>
      <ion-button color="medium" slot="end" (click)="editService(i)"><ion-icon name="create-outline"></ion-icon></ion-button>
      <ion-button  slot="end" expand="block" color="danger" (click)="deleteService(service.id)"><ion-icon name="trash-outline"></ion-icon> </ion-button>
      
    </ion-item>
  </ion-list>
  
</ion-content>
